body
{
	background-image: url("../images/a.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: sans-serif;
}

.wrapper
{
	display: block;
	float: left;
}

.wrapper:nth-child(2)
{
	margin-left: 1em;
}

.wrapper:nth-child(3)
{
	margin-left: 2em;
}

.alphabet
{
	border: 5px solid white;
	padding: 2em;
	margin: 0.5em;
	background-color: #000;
	opacity: 0.8;
	color: white;
	display: inline-block;
	transition: all 1s;
}

.playing
{
	transform: scale(1.1);
	background-color: green;
	box-shadow: 1px 1px 10px green;
}
